@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color:#ff226f;
    --primary-color-dark:#fe6769;
    --text-dark:#333333;
    --white:#ffffff;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-image: url(assets\background2.jpg);
        background-color: ;
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url("assets\background2.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display:flex

}
.container{
max-width: 12oopx;
margin-top: 20px;
padding:1rem;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10rem;
}

.container__left h1 {
    margin-bottom: 2 rem;
    font-size: 2.5rem;
        font-weight: 500;
        background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


}

.container__left p {
    margin-bottom: 2.5rem;
        font-size: 2.5rem;
        font-weight: 500;
        background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.container__left button{
padding:1rem 2rem;
margin-top:1rem;
outline: none;
border:none;
border-radius: 5px;
background: linear-gradient(to right, var(--primary-color), var(--primary-color-dark));
color: var(--white);
font-size: 1rem;
cursor:pointer;
}

.container__right{
    background-image: url(assets\background2.jpg);
    display:grid;
    gap:2rem;
}
.card{
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap:2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px, 5px, 20px rgba(0,0,0,0.2);
    cursor: pointer;
}
.card img{
    max-width: 100x;
    border-radius: 100%;
}
.card__content {
    display: flex;
    gap:1rem;
}
.card__content span i{
    font-size: 2rem;
    color:var(--primary-color)
}

.card__details p{
    font-style:italic;
    color:var(--text-dark);
    margin-bottom:1rem;
}
.card__details h4{
    text-align: right;
    color:var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
}
@media (width < 1200px) {
    .container {
        gap: 3rem;
    }
}

@media (width < 900px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .container__right {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 750px) {
    .container__right {
        grid-template-columns: repeat(1, 1fr);
    }
}
/*.background {
    background-image: url("assets/background.jpg");
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: solid 2px red;
  }*/